.header__menu {
  margin: 0;
  padding: 0;
  list-style-type: none;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 43px;
}

@media screen and (max-width: 1919px) {
  .header__menu {
    gap: 20px;
  }
}

@media screen and (max-width: 1150px) {
  .header__menu {
    display: none;
  }
}
